header
{

	background-color: rgb(0,255,255);
}

a{

	color: rgb(255,0,0);
}

body
{
	background-color: rgb(204,242,255);
}


a:hover{

	background-color: rgb(255,255,255);

	}
	p:hover
	{
		background-color: rgb(169,169,169);
		color: rgb(230,46,0);
		font-size: 20px;
	}
